.centered-heading {
    text-align: center; /* Centrerer teksten */
    font-size: 40px; 
    color: #0a0a0a; 
    margin-top: 10px; 
    margin-right: 120px;
    margin-left: 120px;
}
.centered-text {
    text-align: center; /* Centrerer teksten */
    font-size: 25px; 
    color: #0a0a0a; 
    margin-top: 10px; 
    margin-right: 130px;
    margin-left: 120px;
    margin-bottom: -20px;
    word-spacing: 185px; /* Øger mellemrum mellem ord */
}
.submenu {
    font-size: 16px;
    line-height: 1.6;
    text-align: center; /* Centrerer teksten */
    white-space: nowrap; /* Forhindrer, at teksten brydes til en ny linje */
    margin-left: 60px;
    margin-right: 80px;
}

.submenu span {
    display: inline-block; /* Sørger for, at hver link opfører sig som inline-block */
    margin: 0 130px; /* Tilføjer afstand mellem links */
}

.submenu a {
    color: #040504; /* Grøn farve til links */
    text-decoration: none;
}

.submenu a:hover {
    text-decoration: underline; /* Understregning ved hover */
}
.centered-text2 {
    text-align: center; /* Centrerer teksten */
    font-size: 18px; 
    color: #0a0a0a; 
    margin-top: -12px; 
    margin-right: 120px;
    margin-left: 120px;
    word-spacing: 180px; /* Øger mellemrum mellem ord */
}

.centered-text3 {
    text-align: center; /* Centrerer teksten */
    font-size: 18px; 
    color: #0a0a0ac9; 
    margin-top: 60px; 
    margin-right: 350px;
    margin-left: 330px;
    margin-bottom: 20px;
}

/* For at centrere billederne*/
.image-container {
    display: flex; /* Aktiverer flexbox */
    justify-content: center; /* Centrerer indholdet horisontalt */
}

/* Styling for billederne */
.inline-image {
    width: 200px; /* Giver billederne en fast bredde */
    height: auto; /* Bevarer billedproportioner */
    margin: 0 10px; /* Tilføjer lidt margen omkring billederne */
    vertical-align: top; /* Sørger for, at billederne flugter øverst */
    border-radius: 20px; 
    margin-top: 20px;
}

.centered-text4 {
    text-align: center; /* Centrerer teksten */
    font-size: 18px; 
    color: #0a0a0ac9; 
    margin-top: 20px; 
    margin-right: 350px;
    margin-left: 330px;
    margin-bottom: 20px;
    word-spacing: 62px; /* Øger mellemrum mellem ord */
}

.centered-text5 {
    text-align: center; /* Centrerer teksten */
    font-size: 18px; 
    color: #0a0a0ac9; 
    margin-top: 60px; 
    margin-right: 350px;
    margin-left: 330px;
    margin-bottom: 20px;
}

.centered-text6 {
    text-align: center; /* Centrerer teksten */
    font-size: 18px; 
    color: #0a0a0ac9; 
    margin-top: 60px; 
    margin-right: 350px;
    margin-left: 330px;
    margin-bottom: 20px;
}

